/core/var/*
!/core/var/cache
/core/var/cache/*
!/core/var/cache/.gitkeep
!/core/var/jwt
/core/var/jwt/*
!/core/var/jwt/.gitkeep
!/core/var/log
/core/var/log/*
!/core/var/log/.gitkeep
!/core/var/sessions
/core/var/sessions/*
!/core/var/sessions/.gitkeep
/core/vendor/
/core/supervisord.pid

!/client/.gitkeep
/client/node_modules
/client/*.log

/docker/dev/php/composer/auth.json
.env